<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false" scan="true" scanPeriod="60 seconds">
    <springProfile name="pro">
        <!-- configuration to be enabled when the "pro" profile is active -->
        <property name="log.path" value="./logs/zero-business.log" />
        <contextName>zero-center</contextName>

        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <!-- <filter class="com.example.logback.filter.MyFilter" /> -->
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>WARN</level>
            </filter>
            <encoder>
                <pattern>%-4relative %d{yyyy-MM-dd HH:mm:ss.SSS}-[%thread] %highlight(%-5level) %cyan(%class)-%msg%n</pattern>
            </encoder>
        </appender>

        <appender name="file"
                  class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${log.path}</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>logs/history/zero-business.%d{yyyyMMdd}.%i.log</fileNamePattern>
                <maxHistory>30</maxHistory>
                <timeBasedFileNamingAndTriggeringPolicy  class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <maxFileSize>10MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
            </rollingPolicy>
            <encoder>
                <pattern>%-4relative %d{yyyy-MM-dd HH:mm:ss.SSS}-[%thread] %highlight(%-5level) %cyan(%class)-%msg%n</pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>

        <root level="info">
            <appender-ref ref="console" />
            <appender-ref ref="file" />
        </root>

        <logger name="space.zero" level="info" addtivity="false" >
            <appender-ref ref="file" />
        </logger>
        <logger name="java.sql" level="info" addtivity="false" >
            <appender-ref ref="file" />
        </logger>
    </springProfile>

    <springProfile name="dev">
        <!-- configuration to be enabled when the "dev" profile is active -->
        <property name="log.path" value="./logs/zero-business.log" />
        <contextName>zero-center</contextName>

        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <!-- <filter class="com.example.logback.filter.MyFilter" /> -->
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>DEBUG</level>
            </filter>
            <encoder>
                <pattern>%-4relative %d{yyyy-MM-dd HH:mm:ss.SSS}-[%thread] %highlight(%-5level) %cyan(%class)-%msg%n</pattern>
            </encoder>
        </appender>

        <appender name="file"
                  class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${log.path}</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>logs/history/zero-business.%d{yyyyMMdd}.%i.log</fileNamePattern>
                <maxHistory>30</maxHistory>
                <timeBasedFileNamingAndTriggeringPolicy  class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <maxFileSize>10MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
            </rollingPolicy>
            <encoder>
                <pattern>%-4relative %d{yyyy-MM-dd HH:mm:ss.SSS}-[%thread] %highlight(%-5level) %cyan(%class)-%msg%n</pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>

        <!--<root level="warn">-->
            <!--<appender-ref ref="console" />-->
            <!--<appender-ref ref="file" />-->
        <!--</root>-->
        <root level="info">
            <appender-ref ref="console" />
            <!--<appender-ref ref="file" />-->
        </root>

        <logger name="space.zero" level="debug" addtivity="false" >
            <appender-ref ref="file" />
            <appender-ref ref="console" />
        </logger>
        <!--<logger name="org.springframework" level="info" addtivity="true" >-->
            <!--<appender-ref ref="file" />-->
        <!--</logger>-->
        <logger name="java.sql" level="debug" addtivity="false" >
            <appender-ref ref="file" />
        </logger>
        <!--<logger name="org.springframework.security" level="debug" addtivity="true" >

        </logger>-->
        <!--<logger name="org.hibernate" level="info" addtivity="true" />-->

    </springProfile>

</configuration>