<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.sys.OfficialWebsiteClassMateMapper">
  <resultMap id="BaseResultMap" type="space.zero.business.module.official.website.model.OfficialWebsiteClassMate">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CLASS_NAME" jdbcType="VARCHAR" property="className" />
    <result column="CLASS_VALUE" jdbcType="VARCHAR" property="classValue" />
  </resultMap>
</mapper>