<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.sys.OfficialWebsiteAboutUsMapper">
  <resultMap id="BaseResultMap" type="space.zero.business.module.official.website.model.OfficialWebsiteAboutUs">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="HEADING" jdbcType="VARCHAR" property="heading" />
    <result column="SUB_HEADING" jdbcType="VARCHAR" property="subHeading" />
    <result column="ABOUT_US_CLASS" jdbcType="VARCHAR" property="aboutUsClass" />
    <result column="IS_ENABLE" jdbcType="VARCHAR" property="isEnable" />
    <result column="IS_DELETE" jdbcType="VARCHAR" property="isDelete" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
    <result column="TEXT" jdbcType="LONGVARCHAR" property="text" />
    <result column="PIC" jdbcType="VARCHAR" property="pic" />
  </resultMap>
</mapper>